body {
  background-color: #5dd5d5;
  box-sizing: border-box;
  margin: 0;
}

.storaRam {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 15px white;
}

.menyRam {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  width: 100%;
}

.contentRam {
  background-color: white;
  margin-top: 0;
  padding: 20px;
}

.contentRamIRam {
  display: block;
  background-color: #f3e5d8;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
  height: 500px;
  box-shadow: 0 0 5px grey;
  flex-direction: row;
  padding-left: 50px;
}

.links {
  font-size: 22px;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  padding-right: 30px;
  color: white;
  height: 35px;
  transition: 0.5s all;
  /* font-style: italic; */
}

.links:hover {
  transition: 0.5s all;
  font-size: 30px;
}


h1 a{
  color: #26190d;
  font-size: 65px;
  font-family: 'Barriecito', cursive;
  margin-top: 1px;
  margin-bottom: 1px;
  text-decoration: none;
  }

h3 {
  color: #26190d;
  font-family: Baskerville, cursive;
  margin-top: center;
  padding: 30px:
}

.logga {
  height: 100px;
  background-position: center;
  padding-right: 30px;
}

.backgroundPic {
  background-image: url("https://images.unsplash.com/photo-1535958636474-b021ee887b13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  height:450px;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  background-size: cover;
  background-position: center;
}

.welcome {
  color: black;
  font-family:  Baskerville, cursive;
  font-weight: 600i;
  /* font-style: italic; */
  font-size: 40px;
  padding-top: 50px;
}

.brödtext {
  color:  black;
  font-family: 'Libre Baskerville', serif;
  padding-top: 30px;
}

.contact {
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
}

.aboutBox {
  display: none;
  border: 3px solid red;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profilBild {
  height: 100px;
  padding-top: 25px;
}

.profilText {
  padding: 20px;
}
/////////////////////

@media (max-width: 768px) {
  header {
    background-color: yellow;
  }
}
